// COLORS

$color-001: #ffffff;
$color-002: #000000;
$color-003: #313131;
$color-004: #292c31;
$color-005: #212428;
$color-006: #54514e;

// FONTS

$font-001: 'Reey', sans-serif;
$font-002: 'Open Sans', sans-serif;

// FONT-SIZES

$font-sm: 18px;
$font-md: 22px;
$font-lg: 26px;
$font-xl: 50px;
$font-xxl: 80px;
